.timer {
  display: inline-flex;
  margin: 50px;
  // flex-direction: column;

  font-weight: 500;
  font-size: 14px;
  background-color: yellow;
}

.field {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.field:not(:last-child) {
  margin-right: 10px;
}

.value {
  font-size: 20px;
}

.label {
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}

.control-buttons {
}
