.wrapper {
  display: inline-flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

.timer {
  margin-top: 20px;
  display: inline-flex;
  background-color: yellow;
}

.field {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.field:not(:last-child) {
  margin-right: 10px;
}

.value {
  font-size: 25px;
  font-weight: bold;
}

.label {
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}

button {
  font-weight: bold;
  padding: 3px;
  background-color: yellowgreen;
}

button:hover {
  font-weight: bold;
  background-color: tomato;
}
